<h1> Interested? Contact us! </h1>

<form class="form" method="POST" action="/contact">
	<p> <h4> Name </h4> <textarea name="from_name" placeholder="Name"> </textarea> </p> 
	<p> <h4> Email </h4> <textarea name="from_email" placeholder="Email"> </textarea> </p> 
	<p> <h4> Subject </h4> <textarea name="subject" placeholder="Subject"> </textarea> </p> 
	<p> <h4> Message </h4> <textarea name="message_body" placeholder="Message"> </textarea> </p> 
	<input type="submit"> </input>
</form>
