<!-- <nav> <ul>
 		<li> <img src ="images/NavBones/Home_bone.png"> </li>
		<li> <img src ="images/NavBones/Services-bone.png"> </li>
		<li> <img src ="images/NavBones/Profiles-bone.png"> </li>
		<li> <img src ="images/NavBones/Contact_bone.png"> </li>
 </nav>  -->