<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="dogs.css">
	<script src="https://use.typekit.net/yln1vqr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
 	<nav> 
 		<ul>
	 		<li> <a href="home">  <img src ="images/NavBones/Home_bone.png"></a> </li>
			<li> <a href="services"> <img src ="images/NavBones/Services-bone.png"></a> </li>
			<li> <a href="profiles"> <img src ="images/NavBones/Profiles-bone.png"></a> </li>
			<li> <a href="contact">  <img src ="images/NavBones/Contact_bone.png"></a> </li>
 		</ul> 
 	</nav>

 	<%= yield %>

</body>
</html>