<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="dogs.css">
</head>
<body>
 	<nav> 
 		<ul>
	 		<li> <a href="home.erb"> </a> <img src ="images/NavBones/Home_bone.png"> </li>
			<li> <a href="services.erb"> </a> <img src ="images/NavBones/Services-bone.png"> </li>
			<li> <a href="profiles.erb"> </a> <img src ="images/NavBones/Profiles-bone.png"> </li>
			<li> <a href="contact.erb"> </a> <img src ="images/NavBones/Contact_bone.png"> </li>
 		</ul> 
 	</nav>

 	<%= yield %>

</body>
</html>