<!-- Profile Page for Puppy Parties -->

	<title>Profiles</title>
	<div id="profile_wrapper">
		<div id="frenchie">
		</div>
		<div id="profile_para_1">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius eu libero sit amet dapibus. Sed vestibulum porttitor orci sed blandit. Morbi id ultricies dolor. Pellentesque sed augue leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui nisi, dignissim at nulla sit amet, lacinia pharetra justo. Nunc nec dictum augue. Cras posuere ullamcorper scelerisque. Sed nec egestas justo, vel convallis velit.
			Cough furball hide head under blanket so no one can see eat grass, throw it back up yet run in circles chase ball of string. Sleep in the bathroom sink chew foot cough furball eat grass, throw it back up and eat from dog's food chase the pig around the house. Asdflkjaertvlkjasntvkjn (sits on keyboard) sleep on dog bed, force dog to sleep on floor, so stretch. All of a sudden cat goes crazy i am the best. See owner, run in terror chew foot, and eat a plant, kill a hand intently stare at the same spot peer out window, chatter at birds, lure them to mouth hunt by meowing loudly at 5am next to human slave food dispenser refuse to drink water except out of someone's glass. Meow cat slap dog in face favor packaging over toy pooping rainbow while flying in a toasted bread costume in space immediately regret falling into bathtub. </p>
		</div>
		
	</div>
