<!-- Profile Page for Puppy Parties -->

	<title>Profiles</title>

		<div id="c1">
			<div><h1 id="apple">Frenchie's 21st Festa</h1></div>
			<!-- <div class="pics"><img src="images/NavBones/frenchie.jpg"></div> -->
				<!-- <h4>Age: 21</h4> -->
				<h4>Event: Birthday Celebration</h4>

				<p>
				I've always been deeply passionate about nature. Perhaps you remember Neuterfest? M: I'll never forget your wedding. Even though so many people in this office are begging for it. Steve Holt? The moron jock? 

				How do you know Steve Holt? Are you in AA? It walked on my pillow! However, she mistook the drowsy eye alcohol warning for a winking eye alcohol suggestion. 

				Stop licking my hand, you horse's ass! ♪♪ Big yellow joint, big yellow joint, I'll meet you down at the big yellow joint. ♪♪ A group of British builders operating outside the O.C. Yeah, I invited her. You said you wanted to spend time some with her. You said I was being an Ann hog. Chickens don't clap! And don't make the water too hot. The scabs come right off. Butterscotch! Want a lick? 
			</p>
		</div>

		<div id="c2">
			<div> <h1 id="apple">Bamboo's Costume Party</h1></div>
		<!-- 	<div class="pics"><img src="images/NavBones/yorkie1.jpg"></div> -->

				<!-- <h4>Age: 7</h4> -->
				<h4>Event: Halloween Party</h4>
			<p>
				I've always been deeply passionate about nature. Perhaps you remember Neuterfest? M: I'll never forget your wedding. Even though so many people in this office are begging for it. Steve Holt? The moron jock? 

				How do you know Steve Holt? Are you in AA? It walked on my pillow! However, she mistook the drowsy eye alcohol warning for a winking eye alcohol suggestion. 

				Stop licking my hand, you horse's ass! ♪♪ Big yellow joint, big yellow joint, I'll meet you down at the big yellow joint. ♪♪ A group of British builders operating outside the O.C. Yeah, I invited her. You said you wanted to spend time some with her. You said I was being an Ann hog. Chickens don't clap! And don't make the water too hot. The scabs come right off. Butterscotch! Want a lick? 
			</p>
		</div>


		<div id="c3">
			<div><h1 id ="apple">Pugsley's Backyard Dash</h1></div>
		<!-- 	<div class="pics"><img src="images/NavBones/pugsley.jpg"></div> -->

			<!-- 	<h4>Age: 14</h4> -->
				<h4>Event: Group Play Date</h4>
			<p>
				I've always been deeply passionate about nature. Perhaps you remember Neuterfest? M: I'll never forget your wedding. Even though so many people in this office are begging for it. Steve Holt? The moron jock? 

				How do you know Steve Holt? Are you in AA? It walked on my pillow! However, she mistook the drowsy eye alcohol warning for a winking eye alcohol suggestion. 

				Stop licking my hand, you horse's ass! ♪♪ Big yellow joint, big yellow joint, I'll meet you down at the big yellow joint. ♪♪ A group of British builders operating outside the O.C. Yeah, I invited her. You said you wanted to spend time some with her. You said I was being an Ann hog. Chickens don't clap! And don't make the water too hot. The scabs come right off. Butterscotch! Want a lick? 
			</p>
		</div>
