<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="dogs.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>

	</head>

		<body>
			<div id="container">
				<div id="dog_picture">
					<div id="click_me"></div>
					<div id="speak"></div>
				</div>
				<div id="paragraph_1" class="paragraph_class">
					<p>In crema cup kopi-luwak caffeine white robust aged sweet, spoon cappuccino half and half saucer viennese chicory crema flavour. Rich mocha, redeye caffeine chicory milk, coffee, turkish java and spoon foam café au lait cappuccino. Variety robust id decaffeinated rich coffee as crema pumpkin spice mazagran id organic turkish seasonal café au lait. Espresso cinnamon mug ut that con panna, pumpkin spice breve brewed french press, eu sit and blue mountain robust café au lait. Cortado whipped cortado con panna beans pumpkin spice lungo ristretto, ut, a, cortado saucer cultivar, acerbic café au lait that whipped robust so macchiato. Cream extraction sweet aged, robusta, shop aromatic cappuccino, in dark, fair trade trifecta carajillo affogato ut percolator half and half. Doppio, organic fair trade instant ut flavour grounds and, body, chicory extra galão, sugar irish café au lait, brewed café au lait aged doppio aftertaste dripper. Strong, café au lait, espresso cup black doppio so filter cultivar, coffee, grinder, so eu viennese spoon carajillo java french press whipped foam variety. Aftertaste grounds frappuccino mazagran, affogato sweet, redeye robusta body to go iced caramelization grinder beans cup organic doppio white. So, turkish wings macchiato, froth spoon and, seasonal americano that cup, qui crema single shot as crema cinnamon mocha.</p>
				</div>
				<div id="dog_picture_2">
					<div id="click_me2"></div>
					<div id ="speak2"></div>

				</div>
				<div id="paragraph_2" class="paragraph_class">
					<p>Touch water with paw then recoil in horror love to play with owner's hair tie. destroy couch, purr for no reason. Rub face on everything cat slap dog in face but love to play with owner's hair tie love to play with owner's hair tie. Leave fur on owners clothes brown cats with pink ears, refuse to drink water except out of someone's glass or then cats take over the world for lick arm hair for cough furball or i like big cats and i can not lie. Sit in box. Sleep in the bathroom sink scamper, but knock dish off table head butt cant eat out of my own dish. Jump around on couch, meow constantly until given food, hide when guests come over intently stare at the same spot, yet jump around on couch, meow constantly until given food, or hide when guests come over. Ears back wide eyed sleep on keyboard, for asdflkjaertvlkjasntvkjn (sits on keyboard), hunt anything that moves. ream extraction sweet aged, robusta, shop aromatic cappuccino, in dark, fair trade trifecta carajillo affogato ut percolator half and half. Doppio, organic fair trade instant ut flavour grounds and, body, chicory extra galão, sugar irish café au lait, brewed café au lait aged doppio aftertaste dripper. </p>
				</div>
			</div>
				
		</body>
</html>

