/*CSS for Nav Bar*/
body {
    background-image: url("images/Pup_LogoName.png");
    background-size: cover;

 }
 nav{
	display: inline-block;
}
img {
	height: 90px;
	width: 200px;
}
li {
	width: 200px;
	height: 100px;
	display: inline;
	margin-left: 90px;
}

/*CSS for services page*/
#container{
	height: 100%;
	width:100%;
	display: inline;
	/*position: relative;*/
}

#dog_picture{
	border: 5px solid black;
	width: 350px;
	height: 300px;
	float: left;
	background-image: url("images/NavBones/doge1.jpg");
	background-size: cover;

}


#dog_picture_2{
	border: 5px solid black;
	width: 350px;
	height: 300px;
	background-image: url("images/NavBones/dogparty.jpg");
	background-size: cover;
	float: right;

}

#paragraph_1{
	height: 300px;
/*	border: 5px solid red;*/
	width: 900px;
	float: left;
	padding: 3px;
}

#paragraph_2{
	height: 300px;
/*	border: 5px solid red;*/
	width: 900px;
	float: left;
	padding: 3px;
}

#speak{
	height: 150px;
	width: 100px;
	margin: 50px 100px 50px 120px;
	color: white;
	/*border: 3px solid white;*/
	/*background-color: white;*/


}

#click_me{
	/*border: 2px solid white;*/
	height: 100px;
	width: 100px;
	margin: 50px 100px 50px 235px;

}

/*#click_me2{
	border: 2px solid white;
	height: 300px;
	width: 300px;
	margin: 50px 100px 50px 50px;

}*/

/*#speak2{
	height: 150px;
	width: 100px;
	margin: 50px 100px 50px 120px;
	color: white;
}

/*CSS for contact page*/
h1 {
	text-align: center;
  	font-family: "azo-sans-uber",sans-serif;
  	color: rgb(54, 193, 229);
}
h4 {
	color: rgb(54, 193, 229);
}
form {
	margin-top: 75px;
	margin-left: 400px;
	position: absolute;
}
textarea {
	height: 20px;
	width: 500px;
}


/*THIS THE CSS FOR THE PROFILE PAGE*/

#apple{
	text-align: center;
	color: rgb(128,128,128);
	font-family: "azo-sans-uber",sans-serif;
}

h4{
	margin-top: 60px;
}
p{
	padding-bottom: 60px;
/*	color: rgb(83,71,65);*/
}

#c1, #c2, #c3{
	width: 28%;
	float: left;
	text-align: center;
	padding-left: 55px;
}

.pic{
	height: 300px;
	width: 300px;
	background-size: cover;
}


