/*CSS for Nav Bar*/
* {
	background-color: 
}
nav {
	display: inline-block;
}
img {
	height: 90px;
	width: 200px;
}
li {
	width: 200px;
	height: 100px;
	display: inline;
	margin-left: 90px;
}

/*CSS for services page*/
#container{
	
}

/*THIS THE CSS FOR THE PROFILE PAGE*/

h1{
	text-align: center;
	color: rgb(83,71,65);
	font-family: "azo-sans-uber",sans-serif;
}

p{
	padding-bottom: 60px;
/*	color: rgb(83,71,65);*/
}

#c1, #c2, #c3{
	width: 28%;
	float: left;
	text-align: center;
	padding-left: 55px;
}

.pic{
	height: 300px;
	width: 300px;
}






