/*CSS for Nav Bar*/
body {
    background-image: url("images/Pup_LogoName.png");
    background-size: cover;
}
nav {
	display: inline-block;
}
img {
	height: 90px;
	width: 200px;
}
li {
	width: 200px;
	height: 100px;
	display: inline;
	margin-left: 90px;
}

/*CSS for services page*/
#container{
	height: 100%;
	width:100%;
	display: inline;
	/*position: relative;*/
}

#dog_picture{
	border: 5px solid black;
	width: 350px;
	height: 300px;
	float: left;
	background-image: url("images/NavBones/doge1.jpg");
	background-size: cover;

}


#dog_picture_2{
	border: 5px solid black;
	width: 350px;
	height: 300px;
	/*float: left;*/
	background-image: url("images/NavBones/dogparty.jpg");
	background-size: cover;
	float: right;

}

/*#dog_picture_2{
	border: 5px solid black;
	width: 350px;
	height: 300px;
	float: right;
}*/


#paragraph_1{
	height: 300px;
/*	border: 5px solid red;*/
	width: 900px;
	float: left;
	padding: 3px;
}

#paragraph_2{
	height: 300px;
/*	border: 5px solid red;*/
	width: 900px;
	float: left;
	padding: 3px;
}

#speak{
	height: 150px;
	width: 100px;
	margin: 50px 100px 50px 120px;
	color: white;
	/*border: 3px solid white;*/
	/*background-color: white;*/


}

#click_me{
	/*border: 2px solid white;*/
	height: 100px;
	width: 100px;
	margin: 50px 100px 50px 235px;

}

/*#click_me2{
	border: 2px solid white;
	height: 300px;
	width: 300px;
	margin: 50px 100px 50px 50px;

}*/

/*#speak2{
	height: 150px;
	width: 100px;
	margin: 50px 100px 50px 120px;
	color: white;
}

/*CSS for contact page*/
h1 {
	text-align: center;
  	font-family: "azo-sans-uber",sans-serif;
  	color: rgb(54, 193, 229);
}
h4 {
	color: rgb(54, 193, 229);
}
form {
	margin-top: 75px;
	margin-left: 400px;
	position: absolute;
}
textarea {
	height: 20px;
	width: 500px;
}


/*THIS THE CSS FOR THE PROFILE PAGE*/

#profile_wrapper{
	height: 100%;
	width:100%;
	display: inline;

}

#frenchie{
	background-image: url("images/NavBones/frenchie.jpg");
	background-size: cover;
/*	border: 5px solid black;*/
	width: 350px;
	height: 300px;
	float: left;


}

#profile_para_1{
	float: left;
	height: 300px;
	border: 5px solid black;
	width: 900px;
	float: left;
}

#bamboo{
	background-image:url("images/NavBones/bamboo.JPG");
	background-size: cover;
	width: 350px;
	height: 300px;
	float: left;
	/*border: 5px solid black;*/
	position: relative;

}

#bam_para{
	float: left;
	height: 300px;
	border: 5px solid black;
	width: 900px;
	float: left;
}

p{
	opacity: 0.8;
	
}








